---
layout: default
---

{%- if site.posts.size > 0 -%}
  <ul class="gallery">
    {%- for post in site.posts -%}
    <li class="gallery__post">
      {%- assign date_format = "%m.%y" -%}
      <span class="post__date">{{ post.date | date: date_format }} ></span>
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {%- if post.image -%}
        <a class="gallery__link" href="{{ post.url | relative_url }}">
          {%- if post.image_count > 1 -%}
            <img class = "gallery__image" src="{{ site.base_img_path }}{{ post.image }}_01.jpg" alt="">
          {%- else -%}
            <img class = "gallery__image" src="{{ site.base_img_path }}{{ post.image }}.jpg" alt="">
          {%- endif -%}
        </a>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
